main {
  position: relative;
  top: 25vh;
  width: 100%;
}

.seasonal {
  background-color: var(--accent-color);
  padding-top: 2rem;
}

.products__header {
  color: var(--text-light);
  font-size: var(--font-header-lg);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

.products__header.sml {
  font-size: 0.3em;
}

.products__info {
  color: var(--text-light);
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.products__divider {
  background-color: var(--text-light);
  display: block;
  height: 1px;
  margin: 2rem auto 2rem;
  padding: 0 2rem;
  width: 80%;
}

.products__item {
  padding: 0 2rem;
}

.products__header,
.products__info {
  padding: 0 2rem;
}

.products__item-header {
  font-size: var(--font-size-md);
  text-transform: uppercase;
}


.products__item-info {
  padding-bottom: 2rem;
}

.products__img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  border-radius: var(--border-rad);
}


.products__img--sml {
  display: none;
}

.products__item-notes {
  font-size: var(--font-header-sm);
  text-transform: uppercase;
  font-style: italic;
}
.products__item-note {
  font-style: italic;
}