/* Media Queries For Mobile First Approach */

/* small mobile devices and lower */
@media(max-width: 481px) {
  .landing__header {
    font-size: var(--font-size-xl);
  }
}

@media(min-width: 350px) {
 .shop__item {
   margin: 0 auto;
 }
}

/* tablet portrait and upwards */
@media(min-width: 768px) {

}


/* landscape and upwards */
@media(min-width: 950px) {
  main {
    top: 0;
  }

  .nav {
    flex-direction: column;
    justify-content: center;
    position: static;
    border-bottom: 2px solid var(--dark-hover);
    background-color: var(--accent-color);
  }
  
  .nav__title {
    margin: 0 2rem 2rem 0;
    padding: 0.2rem 3rem;
    border-radius: var(--border-rad);
    background-color: var(--primary-color);
    font-size: var(--font-size-md);
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  .nav__title-link,
  .nav__title-link--color {
    color: var(--accent-color);
  }

  .nav__item {
    padding: 0.2rem;
  }
  
  
  .nav__link {
    position: relative;
    display: block;
    min-width: 150px;
    text-align: center;
    padding: 0.4rem 1.6rem;
    transition: var(--transition-short);
  }

  .nav__link:before,
  .nav__link:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    transition: var(--transition-short);
    background-color: rgba(255,255,255,0.2);
    border-radius: var(--border-rad);
  }
  
  .nav__link:before {
    top: 0;
    left: 0;
    
  }
  
  .nav__link:after {
    bottom: 0;
    right: 0;
  }
  
  .nav__link:hover:before {
    background-color: var(--primary-color);
    width: 100%;
  }
  
  .nav__link:hover:after {
    background-color: var(--primary-color);
    width: 100%;
  }

  .nav__link--red {
    margin-left: 1.4rem;
  }

  .nav__burger,
  .sidebar-nav__list,
  .mobile-nav {
    display: none;
  }

  .footer {
    margin-top: 4rem;
    height: 25vh;
  }

  /* landing section */

  .landing__hero {
    display: flex;
    align-items: center;
    height: 62vh;
    clip-path: none;
  }

  .landing__logos {
    display: flex;
  }

  .landing__logo {
    height: 8rem;
    width: 8rem;
    position: relative;
    margin: 1rem;
    border: 6px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 2px 0px 4px 1px rgba(0,0,0,0.3);
    transform: rotate(20deg);
  }

  .logo-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -2;
  }

  .landing__logo-text {
    text-align: center;
    color: var(--text-light);
  }

  .landing__header {
    max-width: 55vw;
    position: static;
  }

  .landing__cta {
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--primary-color);
  }

  .landing__cta-text {
    color: var(--text-light);
  }

  .landing__cta-socials {
    display: flex;
    align-items: center;
    font-size: var(--font-size-md);
  }

  .landing__social-link {
    font-size: 1.3em;
    color: var(--primary-color);
    transition: var(--transition-short);
  }

  .landing__social-link:hover {
    transform: scale(1.05);
    color: var(--primary-hover);
  }

  .landing__social-link:not(:first-child) {
    margin-left: 2rem;
  }

  .landing__description {
    max-width: 70vw;
    margin: 0 auto 4rem;
  }

  .products__header {
    margin-top: 2rem;
  }

  .products__header:nth-child(n + 2) {
    margin-top: 4rem;
  }

  .products__info:nth-child(n + 2) {
    margin-bottom: 4rem;
  }

  .products__img-wrapper {
    flex-direction: row;
  }

  .products__logo {
    margin: 0;
  }

  .products__image {
    clip-path: none;
  }

  .products__item {
    flex-direction: row;
  }

  .products__item-info {
    width: 70%;
  }

  .products__img--sml {
    display: block;
    height: auto;
    width: 100%;
    max-width: 25vw;
    max-height: 50vh;
    object-fit: cover;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-rad);
  }

  .products__item-header {
    text-align: left;
  }

  .products__item-desc {
    margin-bottom: 4rem;
  }

  .products__item-link {
    display: block;
    margin: 0;
  }
  
  /*contact*/
  .container {
    flex-direction: row;
    padding: 2rem;
  }

  .contact__info,
  .contact__form {
    width: 45%;
  }

  /* shop page */

  .shop__item {
    width: 275px;
  }

  .shop__cart-item {
    font-size: var(--font-size-md);
  }
  
  .shop__cart-item > :nth-child(-n+4) {
    margin-right: 3rem;
  }

  .shop__cart-item > :nth-child(6) {
    margin-left: auto;
  }

}