<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__item flex--center">
      <a href="/" class="mobile-nav__link">
        <i class="fa fa-home mobile-nav__link--icon"></i>
        Home
      </a>
    </li>
    <li class="mobile-nav__item flex--center">
      <a href="/shop" class="mobile-nav__link">
        <i class="fa fa-shopping-cart mobile-nav__link--icon"></i>
        Shop
      </a>
    </li>
  </ul>
</nav>