<div class="popup popup-js">
  <div class="popup__content">
    <img src="/public/images/beer.png" alt="beer glass logo" class="nav__title-img">
    <h4 class="popup__title">Welcome to Turncoat Brewery!</h4>
    <p class="popup__description">Based on our commitment to responsible drinking we ask that you confirm that you are of a legal drinking age. <span class="popup__description--bold">Are you over the age of 18?</span></p>
    <button class="popup__btn btn--accept btn--accept-js">yes</button>
    <button class="popup__btn btn--reject btn--reject-js">no</button>
  </div>
</div>