<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Kieran Roberts">
<meta name="description" content="Brewery is a UK based brewery offering the best and boldest beers available today. Visit our shop to see what's on offer">

<link rel="shortcut icon" href="" type="image/x-icon">

<meta property="og:image" content="">
<meta property="og:description" content="Brewery making fresh inventive beers for your enjoyment.">
<meta property="og:title" content="Brewery">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/media.css">
<script src="/js/burger.js" defer></script>
<title>Brewery</title>