<nav class="sidebar-nav">
  <ul class="sidebar-nav__list sidebar-nav__list-js">
    <li class="sidebar-nav__item">
      <a href="/" class="sidebar-nav__social-link sidebar-nav__social-link-js">
        <i class="fa fa-instagram fa--margin"></i>
      </a>
      <a href="/" class="sidebar-nav__social-link sidebar-nav__social-link-js">
        <i class="fa fa-facebook fa--margin"></i>
      </a>
      <a href="/" class="sidebar-nav__social-link sidebar-nav__social-link-js">
        <i class="fa fa-twitter fa--margin"></i>
      </a>
      <a href="/" class="sidebar-nav__social-link sidebar-nav__social-link-js">
        <i class="fa fa-untappd fa--margin"></i>
      </a>
    </li>
    <li class="sidebar-nav__item">
      <a href="/beers" class="sidebar-nav__link sidebar-nav__link-js beer-link-js">
        <i class="fa fa-beer"></i>
        Our Beers
      </a>
      <ul class="sidebar-nav__dropdown">
        <li class="sidebar-nav__dropdown-item">
          <a href="/beers" class="sidebar-nav__dropdown-link sidebar-nav__dropdown-link-js">
            - Core Range
          </a>
        </li>
        <li class="sidebar-nav__dropdown-item">
          <a href="/beers#seasonal-brews" class="sidebar-nav__dropdown-link sidebar-nav__dropdown-link-js">
            - Seasonal Brews
          </a>
        </li>
        <li class="sidebar-nav__dropdown-item">
          <a href="/beers#limited-releases" class="sidebar-nav__dropdown-link sidebar-nav__dropdown-link-js">
            - Limited Releases
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-nav__item">
      <a href="/contact" class="sidebar-nav__link sidebar-nav__link-js contact-link-js">
        <i class="fa fa-phone"></i>
        Contact Us
      </a>
    </li>
  </ul>
</nav>